# Binaries & Build Artifacts
bin/
obj/
smcli
*.exe
*.o

# Private Assets
public/

# IDE Settings
.vscode/
.idea/
*.swp

# OS Junk
.DS_Store
Thumbs.db

# Test & Temp files
goal.txt
test_in_root.txt
search_test_dir/
fixed-smcli-script
showcommand.cpp.example
*.tmp
*.log
/commands.md
/.env
/test_todo.txt
